## Exercise 1: Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [1]:
"""
steps:
1. import the libraries    
2. create the exam_data dictionary(already given)
3. create a label list to use as index
4. create a dataframe using them
5. finally print them
"""

import numpy as np
import pandas as pd

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a','b','c','d','e','f','g','h','i','j']

df = pd.DataFrame(exam_data, index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 2: Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
##### Use Data from previous problem

In [2]:
"""
steps:
1. import the libraries    
2. create the exam_data dictionary(already given)
3. create a label list to use as index
4. create a dataframe using them
5. finally filter and print them
df['attempts'] , df['score'] 
"""
import numpy as np
import pandas as pd

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a','b','c','d','e','f','g','h','i','j']

df = pd.DataFrame(exam_data, index=labels)
print(df[(df['attempts']<2) & (df['score']>15)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [3]:
print(df.query('attempts<2 and score>15'))

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [4]:
print(df.loc[(df['attempts']<2) & (df['score']>15)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

Number of attempts in the examination is less than 2 and score greater than 15 :
    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [8]:
df[['name','qualify']].head(4)

        name qualify
a  Anastasia     yes
b       Dima      no
c  Katherine     yes
d      James      no

In [10]:
df[['name','qualify']]

        name qualify
a  Anastasia     yes
b       Dima      no
c  Katherine     yes
d      James      no
e      Emily      no
f    Michael     yes
g    Matthew     yes
h      Laura      no
i      Kevin      no
j      Jonas     yes

In [9]:
df.loc[:,'name']

a    Anastasia
b         Dima
c    Katherine
d        James
e        Emily
f      Michael
g      Matthew
h        Laura
i        Kevin
j        Jonas
Name: name, dtype: object

## Exerise 3: Change the value in row 'd' to 11.5
##### Use Data from previous questions

In [12]:
"""
steps:
1. import the libraries    
2. create the exam_data dictionary(already given)
3. create a label list to use as index
4. create a dataframe using them
5. print original dataframe - show Original data frame:
6. assign the value to 11.5
7. print dataframe with changed values - show Change the score in row 'd' to 11.5:
"""

import numpy as np
import pandas as pd

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a','b','c','d','e','f','g','h','i','j']

df = pd.DataFrame(exam_data, index=labels)
print('Original data frame:')
print(df)

print("\nChange the score in row 'd' to 11.5:")
df.loc['d','score'] = 11.5
print(df)

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [13]:
df = pd.DataFrame(exam_data, index=labels)
print('Original data frame:')
print(df)

print("\nChange the score in row 'd' to 11.5: using iloc")
df.iloc[3,1] = 11.5
print(df)

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5: using iloc
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 4: Write a Pandas program to select examination attempts(col1) by the students with 4 attempts.
data: d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

In [16]:
"""
steps:
1. import the libraries    
2. create the d dictionary(already given)
3. create a dataframe using them
4. print original dataframe - show Original data frame:
5. filter the condition and print
"""

import numpy as np
import pandas as pd

d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(d)
print('Original data frame:')
print(df)

print("\nRows for column1 value == 4")
print(df[df['col1'] == 4])

Original data frame:
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

Rows for column1 value == 4
   col1  col2  col3
1     4     5     8
3     4     7     0

In [17]:
print("\nRows for column1 value == 4 using loc")
print(df.loc[df['col1'] == 4])

Rows for column1 value == 4
   col1  col2  col3
1     4     5     8
3     4     7     0

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
Rows for colum1 value == 4
   col1  col2  col3
1     4     5     8
3     4     7     0

## Exercise 5: Drop a list of specified rows(2nd and 4th) from a  DataFrame
###### data: 
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

In [18]:
"""
steps:
1. import the libraries    
2. create the d dictionary(already given)
3. create a dataframe using them
4. print original dataframe - show Original data frame:
5. use drop with index 
6. print the dataframe - show New DataFrame after removing 2nd & 4th rows:
"""


import numpy as np
import pandas as pd

d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(d)
print('Original data frame:')
print(df)

df = df.drop(df.index[[2,4]])
print("\nNew DataFrame after removing 2nd & 4th rows:")
print(df)

Original data frame:
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

New DataFrame after removing 2nd & 4th rows:
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame after removing 2nd & 4th rows:
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

## Exercise 6:  Check whether a given column is present in a DataFrame or not
###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

In [23]:
"""
steps:
1. import the libraries    
2. create the d dictionary(already given)
3. create a dataframe using them
4. print original dataframe - show Original data frame:
5. use if statement to chk 'col1' existence and print result
6. use if statement to chk 'col4' existence and print result
"""

import numpy as np
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(d)
print('Original data frame:')
print(df)

if 'col4' in df.columns:
    print('Col4 is present in DataFrame.')
else:
    print('Col4 is not present in DataFrame.')

if 'col1' in df.columns:
    print('Col1 is present in DataFrame.')
else:
    print('Col1 is not present in DataFrame.')

Original data frame:
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Col4 is not present in DataFrame.
Col1 is present in DataFrame.

In [20]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Col4 is not present in DataFrame.
Col1 is present in DataFrame.

## Exercise 7: Get column index from column name of a given DataFrame

###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

##### HINT: Try using a function called get_loc():
Syntax: 
dataframe.columns.get_loc()

In [24]:
"""
steps:
1. import the libraries    
2. create the d dictionary(already given)
3. create a dataframe using them
4. print original dataframe - show Original data frame:
5. use get_loc method and print result

"""

import numpy as np
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(d)
print('Original data frame:')
print(df)

print("\n Index of 'col2'")
print(df.columns.get_loc('col2'))

Original data frame:
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

 Index of 'col2'
1

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Index of 'col2'
1

## Exercise 8: Write a Pandas program to select all columns, except one given column in a DataFrame.
###### Use same data as previous problem

In [25]:
"""
steps:
1. import the libraries    
2. create the d dictionary(already given)
3. create a dataframe using them
4. print original dataframe - show Original data frame:
5. use loc method with filter on columns and print result

"""

import numpy as np
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(d)
print('Original data frame:')
print(df)
print("All columns except 'col3':")
df = df.loc[:, df.columns!='col3']
print(df)

Original data frame:
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
All columns except 'col3':
   col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

All columns except 'col3':
   col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

## Exercise 9:  Write a Pandas program to remove last n rows of a given DataFrame.

In [26]:
"""
steps:
1. import the libraries    
2. create the d dictionary(already given)
3. create a dataframe using them
4. print original dataframe - show Original data frame:
5. use iloc filter on rows and print result

"""
import numpy as np
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(d)
print('Original data frame:')
print(df)

print("After removing last 3 rows of the said DataFrame")
df = df.iloc[:3,:]
print(df)

Original data frame:
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
After removing last 3 rows of the said DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

After removing last 3 rows of the said DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

## Exercise 10: Display the movies longer than 30 minutes and shorter than 360 minutes

In [32]:
"""
steps:
1. import the libraries    
2. read the csv file and create a dataframe using them
3.  filter based on condition and print result
"""

import pandas as pd
df = pd.read_csv('IMDB-Movie-Data.csv')
new_df = df[['Title',  'Runtime (Minutes)']]
print(new_df[(new_df['Runtime (Minutes)']>30) & (new_df['Runtime (Minutes)']<360)])

                       Title  Runtime (Minutes)
0    Guardians of the Galaxy                121
1                 Prometheus                124
2                      Split                117
3                       Sing                108
4              Suicide Squad                123
..                       ...                ...
995     Secret in Their Eyes                111
996          Hostel: Part II                 94
997   Step Up 2: The Streets                 98
998             Search Party                 93
999               Nine Lives                 87

[1000 rows x 2 columns]

In [31]:
print(new_df[(new_df['Runtime (Minutes)']>120) & (new_df['Runtime (Minutes)']<122)])

                       Title  Runtime (Minutes)
0    Guardians of the Galaxy                121
149                  Inferno                121
153                  Sicario                121
159                 Hot Fuzz                121
301            Lone Survivor                121
385                  Everest                121
572               The Intern                121

In [34]:
df[(df['Runtime (Minutes)']>30) & (df['Runtime (Minutes)']<360)][['Title',  'Runtime (Minutes)']]

                       Title  Runtime (Minutes)
0    Guardians of the Galaxy                121
1                 Prometheus                124
2                      Split                117
3                       Sing                108
4              Suicide Squad                123
..                       ...                ...
995     Secret in Their Eyes                111
996          Hostel: Part II                 94
997   Step Up 2: The Streets                 98
998             Search Party                 93
999               Nine Lives                 87

[1000 rows x 2 columns]

List of movies longer than 30 minutes and shorter than 360 minutes:
                                       Title  Runtime (Minutes)
0                    Guardians of the Galaxy                121
1                                 Prometheus                124
2                                      Split                117
3                                       Sing                108
4                              Suicide Squad                123
5                             The Great Wall                103
6                                 La La Land                128
7                                   Mindhorn                 89
8                         The Lost City of Z                141
9                                 Passengers                116
10   Fantastic Beasts and Where to Find Them                133
11                            Hidden Figures                127
12                                 Rogue One                133
13                                     Moana                107
14                                  Colossal                109
15                   The Secret Life of Pets                 87
16                             Hacksaw Ridge                139
17                              Jason Bourne                123
18                                      Lion                118
19                                   Arrival                116
20                                      Gold                120
21                     Manchester by the Sea                137
22                            Hounds of Love                108
23                                    Trolls                 92
24              Independence Day: Resurgence                120
25                           Paris pieds nus                 83
26                   Bahubali: The Beginning                159
27                                Dead Awake                 99
28                                  Bad Moms                100
29                          Assassin's Creed                115
..                                       ...                ...
970                        Texas Chainsaw 3D                 92
971                                Disturbia                105
972                             Rock of Ages                123
973                                 Scream 4                111
974                           Queen of Katwe                124
975               My Big Fat Greek Wedding 2                 94
976                              Dark Places                113
977                            Amateur Night                 92
978           It's Only the End of the World                 97
979                       The Skin I Live In                120
980                     Miracles from Heaven                109
981                                    Annie                118
982                      Across the Universe                133
983                            Let's Be Cops                104
984                                      Max                111
985                            Your Highness                102
986                      Final Destination 5                 92
987                             Endless Love                104
988                                  Martyrs                 99
989                                    Selma                128
990           Underworld: Rise of the Lycans                 92
991                         Taare Zameen Par                165
992                     Take Me Home Tonight                 97
993                 Resident Evil: Afterlife                 97
994                                Project X                 88
995                     Secret in Their Eyes                111
996                          Hostel: Part II                 94
997                   Step Up 2: The Streets                 98
998                             Search Party                 93
999                               Nine Lives                 87

[1000 rows x 2 columns]