In [17]:
#import libraries
import pandas as pd

In [18]:
class Employee:
    def __init__(self, input_file, output_file):
        """ constructor - initialize the variables"""
        self.input_file = input_file
        self.output_file = output_file
        self.data = pd.DataFrame()
    
    def read_csv(self):
        """ read the input csv into a dataframe """
        self.data = pd.read_csv(self.input_file)
        print("Data read from ", self.input_file) # first display
    
    def write_csv(self):
        """ write from dataframe from to output csv file"""
        self.data.to_csv(self.output_file, index=False)
        print("Data written to ", self.output_file) # second display
    
    def add_row(self, row_data):
        """ add new row to the dataframe"""
        new_row = pd.DataFrame([row_data], columns=self.data.columns)
        self.data = pd.concat([self.data, new_row])
        self.write_csv()
        print("New row added: ", row_data) # third display
        
    def get_and_push_data(self, new_data):
        """
        Signature: Get data and push by adding new rows to the dataframe.
        
        Parameters:
        new_data(list): List of dictionaries, where each dictionary represents a new row of data.
        """
        for row_data in new_data:
            self.add_row(row_data)
            
    #{"EmployeeID": 1, "Name": "Amar", "Department": "HR", "Salary": 60000},
    #{"EmployeeID": 2, "Name": "Akbar", "Department": "IT", "Salary": 80000},
    #{"EmployeeID": 3, "Name": "Antony", "Department": "Finance", "Salary": 75000}            
        
    def show_rec(self):
        """ display dataframe"""
        print(self.data)

In [19]:
#dummy file with column headings of Tata Motors (tm)
df = pd.DataFrame(columns = ['EmployeeID', 'Name', 'Department', 'Salary'])
df.to_csv('tm_employee_input.csv',index=False)

In [20]:
df

Empty DataFrame
Columns: [EmployeeID, Name, Department, Salary]
Index: []

In [21]:
# input an output csv file to pass parameters to class
input_file = "tm_employee_input.csv"
output_file = "tm_employee_output.csv"

# new data to push into the empty stub and store as new output file
new_data = [
    {"EmployeeID": 1, "Name": "Amar", "Department": "HR", "Salary": 60000},
    {"EmployeeID": 2, "Name": "Akbar", "Department": "IT", "Salary": 80000},
    {"EmployeeID": 3, "Name": "Antony", "Department": "Finance", "Salary": 75000}
]

# create an object for the Employee class
tm = Employee(input_file, output_file) 

# method called to read the csv 
tm.read_csv()

#pass the new_data(3 rows) to method get_and_push_data
tm.get_and_push_data(new_data)

Data read from  tm_employee_input.csv
Data written to  tm_employee_output.csv
New row added:  {'EmployeeID': 1, 'Name': 'Amar', 'Department': 'HR', 'Salary': 60000}
Data written to  tm_employee_output.csv
New row added:  {'EmployeeID': 2, 'Name': 'Akbar', 'Department': 'IT', 'Salary': 80000}
Data written to  tm_employee_output.csv
New row added:  {'EmployeeID': 3, 'Name': 'Antony', 'Department': 'Finance', 'Salary': 75000}

In [22]:
tm.show_rec()

  EmployeeID    Name Department Salary
0          1    Amar         HR  60000
0          2   Akbar         IT  80000
0          3  Antony    Finance  75000

In [23]:
out = pd.read_csv("tm_employee_output.csv")
out

   EmployeeID    Name Department  Salary
0           1    Amar         HR   60000
1           2   Akbar         IT   80000
2           3  Antony    Finance   75000

In [24]:
new_data = [{"EmployeeID": 4, "Name": "Riya", "Department": "HR", "Salary": 50000}]
tm.get_and_push_data(new_data)

Data written to  tm_employee_output.csv
New row added:  {'EmployeeID': 4, 'Name': 'Riya', 'Department': 'HR', 'Salary': 50000}

In [25]:
tm.show_rec()

  EmployeeID    Name Department Salary
0          1    Amar         HR  60000
0          2   Akbar         IT  80000
0          3  Antony    Finance  75000
0          4    Riya         HR  50000

In [26]:
#dummy file with column headings of Tata Consultancy Services (tcs)
df = pd.DataFrame(columns = ['EmployeeID', 'Name', 'Department', 'Salary', "EmpRef"])
df.to_csv('tcs_employee_input.csv',index=False)

In [28]:
pd.read_csv("tcs_employee_input.csv")

Empty DataFrame
Columns: [EmployeeID, Name, Department, Salary, EmpRef]
Index: []

In [29]:
# input an output csv file to pass parameters to class
input_file = "tcs_employee_input.csv"
output_file = "tcs_employee_output.csv"

# new data to push into the empty stub and store as new output file
new_data = [
    {"EmployeeID": 11, "Name": "Bheem", "Department": "HR", "Salary": 100000, "EmpRef": "Internal"},
    {"EmployeeID": 12, "Name": "Basha", "Department": "IT", "Salary": 200000, "EmpRef": "Jobsite" },
    {"EmployeeID": 13, "Name": "Benjamin", "Department": "Finance", "Salary": 350000, "EmpRef": "Outsource"}
]

# create an object for the Employee class
tcs = Employee(input_file, output_file) 

# method called to read the csv 
tcs.read_csv()

#pass the new_data(3 rows) to method get_and_push_data
tcs.get_and_push_data(new_data)

# to show tcs records
tcs.show_rec()

Data read from  tcs_employee_input.csv
Data written to  tcs_employee_output.csv
New row added:  {'EmployeeID': 11, 'Name': 'Bheem', 'Department': 'HR', 'Salary': 100000, 'EmpRef': 'Internal'}
Data written to  tcs_employee_output.csv
New row added:  {'EmployeeID': 12, 'Name': 'Basha', 'Department': 'IT', 'Salary': 200000, 'EmpRef': 'Jobsite'}
Data written to  tcs_employee_output.csv
New row added:  {'EmployeeID': 13, 'Name': 'Benjamin', 'Department': 'Finance', 'Salary': 350000, 'EmpRef': 'Outsource'}
  EmployeeID      Name Department  Salary     EmpRef
0         11     Bheem         HR  100000   Internal
0         12     Basha         IT  200000    Jobsite
0         13  Benjamin    Finance  350000  Outsource

In [30]:
tm.show_rec()

  EmployeeID    Name Department Salary
0          1    Amar         HR  60000
0          2   Akbar         IT  80000
0          3  Antony    Finance  75000
0          4    Riya         HR  50000

In [31]:
tcs.show_rec()

  EmployeeID      Name Department  Salary     EmpRef
0         11     Bheem         HR  100000   Internal
0         12     Basha         IT  200000    Jobsite
0         13  Benjamin    Finance  350000  Outsource

In [34]:
new_data = [{"EmployeeID": 4, "Name": "Riya", "Department": "HR", "Salary": 50000}]
tcs.get_and_push_data(new_data)
# to show tcs records
tcs.show_rec()

Data written to  tcs_employee_output.csv
New row added:  {'EmployeeID': 4, 'Name': 'Riya', 'Department': 'HR', 'Salary': 50000}
  EmployeeID      Name Department  Salary     EmpRef
0         11     Bheem         HR  100000   Internal
0         12     Basha         IT  200000    Jobsite
0         13  Benjamin    Finance  350000  Outsource
0          4      Riya         HR   50000        NaN

In [32]:
new_data = [
    {"EmployeeID": 1, "Name": "Amar", "Department": "HR", "Salary": 60000},
    {"EmployeeID": 2, "Name": "Akbar", "Department": "IT", "Salary": 80000},
    {"EmployeeID": 3, "Name": "Antony", "Department": "Finance", "Salary": 75000}
]

df1=pd.DataFrame(new_data) #tcs = Employee(input_file, output_file) 
df1

   EmployeeID    Name Department  Salary
0           1    Amar         HR   60000
1           2   Akbar         IT   80000
2           3  Antony    Finance   75000

In [33]:
new_data = [
    {"EmployeeID": 11, "Name": "Bheem", "Department": "HR", "Salary": 100000, "EmpRef": "Internal"},
    {"EmployeeID": 12, "Name": "Basha", "Department": "IT", "Salary": 200000, "EmpRef": "Jobsite" },
    {"EmployeeID": 13, "Name": "Benjamin", "Department": "Finance", "Salary": 350000, "EmpRef": "Outsource"}
]
df2=pd.DataFrame(new_data)
df2

   EmployeeID      Name Department  Salary     EmpRef
0          11     Bheem         HR  100000   Internal
1          12     Basha         IT  200000    Jobsite
2          13  Benjamin    Finance  350000  Outsource

In [38]:
type(new_data)

list